# EDA Restaurant Reviews

Using Python 3.13

Using this for an inital look at the data and to play around with it.
We can grab more datasets too

In [3]:
import pandas as pd
import numpy as np
import src.data_cleaning as clean
import data_transformation as transform

Space for File Operations

Here lies an example of the data cleaning modules

In [4]:
# Load Dataframes
df_tsv = clean.load_text_to_df(['../data/Restaurant_Reviews_Test.tsv'],
                            columns =["Review", "Like"])
df_tsv.head()

                                      Review  Like
0                   Wow... Loved this place.   1.0
1                     Crust is not good    .   0.0
2                   Wow... Loved this place.   1.0
3                                       """"   NaN
4  Not tasty and the texture was just nasty.   0.0

In [5]:
# Remove Duplicates
df_tsv_remove_dup = clean.remove_duplicates_fuzzy(df_tsv, "Review", threshold = 90)

df_tsv_remove_dup.head()

                                              Review  Like
0                           Wow... Loved this place.   1.0
1                             Crust is not good    .   0.0
2                                               """"   NaN
3          Not tasty and the texture was just nasty.   0.0
4  Stopped by during the late May bank holiday of...   1.0

In [6]:
# Normalize the Text (Lowercase & Remove Punctuation, Remove Whitespaces)
df_tsv_norm = clean.normalize_text(df_tsv_remove_dup, "Review")
df_tsv_norm.head()

                                              Review  Like
0                               wow loved this place   1.0
1                                 crust is not good    0.0
2                                                      NaN
3           not tasty and the texture was just nasty   0.0
4  stopped by during the late may bank holiday of...   1.0

In [7]:
# Handle Missing Values
df_tsv_na = clean.handle_missing_values(df_tsv, "Review")
df_tsv_na.head()

                                              Review  Like
0                               wow loved this place   1.0
1                                 crust is not good    0.0
2           not tasty and the texture was just nasty   0.0
3  stopped by during the late may bank holiday of...   1.0
4  the selection on the menu was great and so wer...   1.0

In [8]:
# Original "Dirty" Text Data to demonstrate Mass Cleaning FUnction
df_tsv_dirty = clean.load_text_to_df(['../data/Restaurant_Reviews_Test.tsv'],
                            columns =["Review", "Like"])
df_tsv_dirty.head()

                                      Review  Like
0                   Wow... Loved this place.   1.0
1                     Crust is not good    .   0.0
2                   Wow... Loved this place.   1.0
3                                       """"   NaN
4  Not tasty and the texture was just nasty.   0.0

In [9]:
# Mass Cleaning FUnction (Remove Duplicates, Normalize, Handle Missing Values)
cleaned_df_tsv = clean.clean_dataframe(df_tsv_dirty, "Review")
cleaned_df_tsv.head()

                                              Review  Like
0                               wow loved this place   1.0
1                                 crust is not good    0.0
2           not tasty and the texture was just nasty   0.0
3  stopped by during the late may bank holiday of...   1.0
4  the selection on the menu was great and so wer...   1.0