# EDA Job Descriptions

In [1]:
import src.data_cleaning as clean
import src.data_transformation as transform
import src.eda as eda

In [2]:
#

files = ['../data/DataScientist.csv',
         '../data/job_summary_mini.csv',]

dfs = clean.load_text_to_df(files, columns = None, line_length = 1)

In [3]:
df_job_categorized = dfs['DataScientist']
df_job_categorized.head()

,Unnamed: 0,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply
0,0,0,Senior Data Scientist,$111K-$181K (Glassdoor est.),"ABOUT HOPPER\n\nAt Hopper, we’re on a mission ...",3.5,Hopper\n3.5,"New York, NY","Montreal, Canada",501 to 1000 employees,2007,Company - Private,Travel Agencies,Travel & Tourism,Unknown / Non-Applicable,-1,-1
1,1,1,"Data Scientist, Product Analytics",$111K-$181K (Glassdoor est.),"At Noom, we use scientifically proven methods ...",4.5,Noom US\n4.5,"New York, NY","New York, NY",1001 to 5000 employees,2008,Company - Private,"Health, Beauty, & Fitness",Consumer Services,Unknown / Non-Applicable,-1,-1
2,2,2,Data Science Manager,$111K-$181K (Glassdoor est.),Decode_M\n\nhttps://www.decode-m.com/\n\nData ...,-1.0,Decode_M,"New York, NY","New York, NY",1 to 50 employees,-1,Unknown,-1,-1,Unknown / Non-Applicable,-1,True
3,3,3,Data Analyst,$111K-$181K (Glassdoor est.),Sapphire Digital seeks a dynamic and driven mi...,3.4,Sapphire Digital\n3.4,"Lyndhurst, NJ","Lyndhurst, NJ",201 to 500 employees,2019,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,"Zocdoc, Healthgrades",-1
4,4,4,"Director, Data Science",$111K-$181K (Glassdoor est.),"Director, Data Science - (200537)\nDescription...",3.4,United Entertainment Group\n3.4,"New York, NY","New York, NY",51 to 200 employees,2007,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"BBDO, Grey Group, Droga5",-1

In [4]:
df_job_raw = dfs['job_summary_mini']
df_job_raw.head()

,job_link,job_summary
0,https://www.linkedin.com/jobs/view/senior-mach...,Company Description\nJobs for Humanity is part...
1,https://www.linkedin.com/jobs/view/principal-s...,Who We Are\nAurora (Nasdaq: AUR) is delivering...
2,https://www.linkedin.com/jobs/view/senior-etl-...,"Location: New York City, NY\nPosition Summary\..."
3,https://www.linkedin.com/jobs/view/senior-data...,Responsibilities:\nCandidate must have signifi...
4,https://www.linkedin.com/jobs/view/lead-data-e...,Dice is the leading career destination for tec...

# First handling raw text data of our job postings

In [5]:
# Clean the Dataframe
df_job_raw = clean.clean_dataframe(df_job_raw, "job_summary")
df_job_raw.head()

,job_link,job_summary
0,https://www.linkedin.com/jobs/view/senior-mach...,company description jobs for humanity is partn...
1,https://www.linkedin.com/jobs/view/principal-s...,who we are aurora nasdaq aur is delivering the...
2,https://www.linkedin.com/jobs/view/senior-etl-...,location new york city ny position summary our...
3,https://www.linkedin.com/jobs/view/senior-data...,responsibilities candidate must have significa...
4,https://www.linkedin.com/jobs/view/lead-data-e...,dice is the leading career destination for tec...

In [6]:
# Remove the Stopwords

transform.remove_stopwords(df_job_raw, "job_summary", custom_stopword = None, new_column = "Removed Stopwords")

,job_link,job_summary,Removed Stopwords
0,https://www.linkedin.com/jobs/view/senior-mach...,company description jobs for humanity is partn...,"company, description, jobs, humanity, partneri..."
1,https://www.linkedin.com/jobs/view/principal-s...,who we are aurora nasdaq aur is delivering the...,"aurora, nasdaq, aur, delivering, benefits, sel..."
2,https://www.linkedin.com/jobs/view/senior-etl-...,location new york city ny position summary our...,"location, new, york, city, ny, position, summa..."
3,https://www.linkedin.com/jobs/view/senior-data...,responsibilities candidate must have significa...,"responsibilities, candidate, must, significant..."
4,https://www.linkedin.com/jobs/view/lead-data-e...,dice is the leading career destination for tec...,"dice, leading, career, destination, tech, expe..."
5,https://www.linkedin.com/jobs/view/senior-data...,department fa its business intelligence soluti...,"department, fa, business, intelligence, soluti..."
6,https://www.linkedin.com/jobs/view/manager-cyb...,company description jobs for humanity is partn...,"company, description, jobs, humanity, partneri..."
7,https://www.linkedin.com/jobs/view/principal-a...,company description jobs for humanity is partn...,"company, description, jobs, humanity, partneri..."
8,https://www.linkedin.com/jobs/view/senior-fina...,enterprise technologytelecom is looking for so...,"enterprise, technologytelecom, looking, someon..."
9,https://www.linkedin.com/jobs/view/machine-lea...,jd responsibilities design and develop systems...,"jd, responsibilities, design, develop, systems..."
10,https://www.linkedin.com/jobs/view/sr-workforc...,sr workforce management data analyst alvaria j...,"sr, workforce, management, data, analyst, alva..."
11,https://www.linkedin.com/jobs/view/master-data...,opentext the information company as the inform...,"opentext, information, company, as, informatio..."
12,https://www.linkedin.com/jobs/view/4-corporate...,job 1 corporate associate the ideal candidate ...,"job, 1, corporate, associate, ideal, candidate..."
13,https://www.linkedin.com/jobs/view/sr-database...,dice is the leading career destination for tec...,"dice, leading, career, destination, tech, expe..."
14,https://www.linkedin.com/jobs/view/senior-mlop...,who is recruiting from scratch recruiting from...,"recruiting, scratch, recruiting, scratch, prem..."
15,https://uk.linkedin.com/jobs/view/data-enginee...,join our team as a data engineering manager ar...,"join, team, as, data, engineering, manager, da..."
16,https://ca.linkedin.com/jobs/view/data-analyst...,summary data analyst part time will be respons...,"summary, data, analyst, part, time, will, resp..."
17,https://www.linkedin.com/jobs/view/summer-2024...,what you do at amd changes everything we care ...,"amd, changes, everything, care, deeply, transf..."
18,https://www.linkedin.com/jobs/view/enterprise-...,enterprise data managerproduct owneronly local...,"enterprise, data, managerproduct, owneronly, l..."
19,https://www.linkedin.com/jobs/view/it-database...,our client is seeking a senior database develo...,"client, seeking, senior, database, developer, ..."
20,https://www.linkedin.com/jobs/view/contractor-...,position summary contractor remote work youll ...,"position, summary, contractor, remote, work, y..."
21,https://www.linkedin.com/jobs/view/data-engine...,dice is the leading career destination for tec...,"dice, leading, career, destination, tech, expe..."
22,https://www.linkedin.com/jobs/view/staff-data-...,what to expect data is deeply embedded in the ...,"expect, data, deeply, embedded, product, engin..."
23,https://uk.linkedin.com/jobs/view/senior-data-...,description urgent 12 month contract fulltime ...,"description, urgent, 12, month, contract, full..."
24,https://www.linkedin.com/jobs/view/senior-data...,this is for a client of recruiting from scratc...,"client, recruiting, scratch, recruiting, scrat..."
25,https://www.linkedin.com/jobs/view/it-data-lif...,if youre passionate about the design and funct...,"if, youre, passionate, design, function, built..."

In [7]:
# Skill Count

transform.label_job_skills(df_job_raw, "job_summary", custom_skills=None)

{'react': 2,
 'sql': 46,
 'c++': 3674,
 'css': 0,
 'python': 17,
 'java': 7,
 'react-native': 0,
 'html': 0,
 'angular': 0,
 'c#': 0,
 'javascript': 0}