# EDA Restaurant Reviews

Using Python 3.13

Using this for an inital look at the data and to play around with it.
We can grab more datasets too

In [7]:
import pandas as pd
import numpy as np
import src.data_cleaning as clean
import data_transformation as transform

df = pd.read_csv('../data/Restaurant_Reviews.tsv', sep='\t', quoting=3)

In [3]:
df.head()

                                              Review  Liked
0                           Wow... Loved this place.      1
1                                 Crust is not good.      0
2          Not tasty and the texture was just nasty.      0
3  Stopped by during the late May bank holiday of...      1
4  The selection on the menu was great and so wer...      1

Space for File Operations

Here lies an example of the data cleaning modules

In [14]:
a = clean.load_text_to_df('../data/Restaurant_Reviews.tsv', columns = None)

TypeError: unsupported operand type(s) for -: 'NoneType' and 'list'